body{
    padding:0;
    margin:0;
    overflow-x: hidden;
}
h1{
    padding:0;
    margin:0;
}
.navbar{
    width:100%;
    height:50px;
    background-color: #3EBFFF;
    display:flex;
    align-items:center;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.19);
}
.navbar .logo-container{
    width:150px;
    height:50px;
    display:flex;
    align-items: center;
    padding-left:10px;
    color:white;
}
.navbar .menu-container{
    width: calc(100% - 150px);
    height:50px;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}
.menus{
    width:40%;
    padding:10px;
    height:50px;
    align-items: center;
    display:flex;
    justify-content: space-around;
}
.menus span{
    color:white;
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
}
.menus button{
    padding:8px;
    width:100px;
    border-radius:22px;
    border:transparent;
    background-color:white;
}
/* close of .navbar */
.header{
    width:100%;
    min-height:450px;
    background-image: url("./images/image-header.jpg");
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
    color:white;
    padding-top:2rem;
}
.testimoniesContainer{
    width: 100%;
    min-height: 350px;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    
}
.title{
    width: 100%;
    display: flex;
    height: 20px;
    align-items: flex-start;
    justify-content: center; 
    width: 100%;
    height: auto;
    padding-top:2rem;
    color: darkgrey;
}

/* End Of content part*/
.content{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    row-gap: 1rem;
    height: calc(100% - 20px);
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.card{
   width: 200px;
   height: 300px; 
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.19);
}
.cardHeader{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardHeader img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.cardContent{
    text-align: center;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.cardFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardFooter p{
    margin-top: 1px;
    font-size: 12px;
    color: darkgray;
}

/* End Of Card part*/

.part1{
    width: 100%;
    height: 300px;
    display: flex;
}

.part1Left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    min-height: auto;
}
.part1Left h1{
font-family: sans-serif;
font-size: 2rem;
margin-left: 15%;
}
.part1Left p{
    font-family:Arial, Helvetica, sans-serif;
    color: darkgrey;
    margin-left: 15%;
}
.part1Left a{
    text-decoration-line: underline;
    text-decoration-color: yellow;
    font-weight: bold;
    margin-left: 15%;
}
.part1Right{
    width: 50%;
    height: 100%;
    background-color: #FED403;
    overflow: hidden;
    text-align: center;  
}
.part1Right img{
    width: 80%;
    height:100%;
    transform: rotateZ(25deg);
}
#part2Left{
    width: 50%;
    height: 100%;
    text-align: center;
}
#part2Left img{
    width: 100%;
    height:100%; 
}
#part2Left h1{
    font-family: sans-serif;
    font-size: 2rem;
    margin-left: 15%; 
}
#link2{
    text-decoration-line: underline;
    text-decoration-color: #FE4D2A;
    font-weight: bold;
    margin-left: 15%; 
}
/*end of Section 2 */

.part3{
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.part3Left{
    width: 50%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    background-color: #3EBFFF;
}
.part3Image{
    width: 100%;
    height: 300px;
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: center;
}
.part3Image img{
    width: 250px;
    height: 250px;
   
}
.part3Right{
    width: 50%;
    min-height: auto;
    display: flex;
    flex-direction: column;
}